# SPDX-FileCopyrightText: : 2017-2023 The PyPSA-Eur Authors
#
# SPDX-License-Identifier: CC0-1.0

.snakemake*
.ipynb_checkpoints
__pycache__
*dconf
gurobi.log
.vscode

/bak
/resources
/resources*
/results
/networks
/benchmarks
/logs
/notebooks
/cutouts

doc/_build

config.yaml

dconf
/data/links_p_nom.csv
/data/*totals.csv
/data/biomass*
/data/bundle-sector
/data/heating/
/data/odyssee/
/data/transport_data.csv
/data/.nfs*
/data/retro/tabula-calculator-calcsetbuilding.csv
data/gas_network/scigrid-gas/
data/bundle
data/eurostat
data/load_raw.csv
data/load_synthetic_raw.csv
data/shipdensity_global.zip
data/ENSPRESO_BIOMASS.xlsx

dask-worker-space/
publications.jrc.ec.europa.eu/

*.org

*.nc

*~
/scripts/old

*.pyc
/cutouts
/tmp
/pypsa

config.yaml

doc/_build

*.xls

*.geojson

*.ipynb
run_snakefile_ref.done
run_snakefile_baseline.done
run_snakefile_nocdr.done
run_prepare_scenarios.done
run_sensitivity_.done
sensitivity_analysis

merger-todos.md
.idea/*
SEPIA/SEPIA_functions.py
SEPIA/max_vre_potential_charts
SEPIA/Results/*
SEPIA/Scripts_postprocessing_results/test/*
